* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #4c0b0b;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    background-color: #fff;
}

.form-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 24px;
    color: #4c0b0b;
    margin-bottom: 10px;
}

.form-container p {
    margin-bottom: 20px;
    color: #4c0b0b;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #4c0b0b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-container button:hover {
    background-color: #3a0707;
}

.footer {
    background-color: #4c0b0b;
    padding: 20px 0;
    color: #fff;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.social-media a {
    margin-left: 10px;
}

.social-media img {
    width: 20px;
    height: 20px;
}
